* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: #f0f0f0;
  padding: 1rem;
}

.principal {
  background-color: azure;
  padding: 2rem;
  margin: auto;
  border-radius: 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  color: #4caf50;
}
.agregar-cursos {
  padding: 1rem;
  text-align: center;
}
.curso {
  padding: 1rem;
  text-align: center;
  border: 1px solid #3f3f3f;
  background-color: #e5e2e2af;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.estudiante {
  padding: 1rem;
  text-align: center;
}
#listitle {
  margin-top: 1rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

label {
  font-size: 1.2rem;
}

button {
  padding: 1rem;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.item-curso {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.item-curso h3 {
  margin-bottom: 10px;
}

.item-estudiante {
  margin-left: 20px;
}

.estadisticas {
  padding: 1rem;
  background-color: #e0f7fa;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
}

.estadisticas p {
  font-size: 1.2rem;
}

.exportacion {
  margin-top: 1rem;
  text-align: center;
}

.exportacion button {
  padding: 1rem;
  background-color: #2196f3;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 1.5rem;
}

.exportacion button:hover {
  background-color: #1976d2;
}

.error {
  color: red;
  font-size: 1.3rem;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(243, 247, 247);
  padding: 100px;
  border-radius: 10px;
  display: none;
}

.mostrar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eliminar-curso,
.eliminar-estudiante {
  background-color: rgba(209, 16, 16, 0.494);
}

.editar-curso,
.editar-estudiante {
  background-color: #3c96b992;
}

.eliminar-estudiante, .editar-estudiante{
    padding: 0.2rem;
}

.eliminar-curso:hover,
.eliminar-estudiante:hover {
  background-color: rgba(209, 16, 16);
}

.editar-curso:hover,
.editar-estudiante:hover {
  background-color: #3c95b9e8;
}

.eliminar-curso,
.editar-curso,
.eliminar-estudiante,
.editar-estudiante {
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: 0.2rem;
}

.eliminar-estudiante, .editar-estudiante{
    width: 12rem;
}

.eliminar-curso{
    margin-top: 4rem;
}